.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    display: flex; /* Flex layout */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center align items */
  }
  
  .filter {
    margin-bottom: 20px;
    display: flex; /* Flex layout */
    flex-wrap: wrap; /* Wrap items */
    justify-content: center; /* Center justify items */
  }
  
  .filter label {
    margin-right: 10px;
  }
  
  .filter input,
  .filter select {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .products {
    list-style: none;
    padding: 0;
  }
  
  .product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #ccc;
  }
  